*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 10%,
    rgba(0,0,0,0.8)), url('../img/photo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link{
    color: white !important;
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #00A6FF !important;
    
}
.navbar-dark{
    background: rgba(0, 0, 0, 0.6);
    
}
.navbar-dark 
.navbar-brand{
    font-size: 1.3rem;
    text-transform: uppercase;
    color: white !important;
    font-weight: 700;
    letter-spacing: .1rem;
}
.navbar-dark
.navbar-brand img{
    width: 40px;
}
.page-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    font-weight: 700;
}
.profile{
    padding-top: 1rem;
}
.profile h2{
    font-size: 1.4rem;
    margin: 1.8rem 0 3rem .5rem;
}
.profiledropdown{
    min-width: 400px !important;
    border-radius: 20px !important;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.8) !important;
}
.edzesdropdown{
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.8) !important;
}
.dropdown:hover >.dropdown-menu{
    display: block;
}
.edzes-menu:hover{
    background-color: #00A6FF !important;
    color: white !important;
    box-shadow: 1px 1px 3px 4px #00A6FF;
    letter-spacing: .2rem;
}
.table{
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.8) !important;
}
.edzes-menu{
    transition: .3s ease-in-out;
    font-size: .9rem;
}
.userimage{
    position: relative;
    left: 9rem;
    width: 100px;
    height: 100px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.terv{
    color: black;
    margin-top: 2rem;
}
#trash:hover{
    cursor: grab;
}