body{
    background:linear-gradient(to left, rgba(255, 255, 255, 0) 10%,
    #00A6FF);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    font-family: monospace;
    margin: 8px;
    padding: 0;
}
h1{
    font-weight: bolder;
    color: #EAF0F1 !important;
}
form{
    width: 400px !important;
    padding: 40px;
    display: block;
    background: rgba(0,0,0,0.9);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-bottom: 2px solid #00A6FF;
    border-top: 3px solid #00A6FF;
    box-shadow: 10px 10px 5px black;
}
.box input[type="text"],
.box input[type="password"]{
    background: none;
    margin: 20px auto;
    display: block;
    text-align: center;
    border: 2px solid #0A78DF;
    transition: 0.25s;
    transition-timing-function: ease-in-out;
    border-radius: 24px;
    width: 250px;
    padding: 15px 10px;
    color: white !important;
    font-weight: bold;
}
.box input::placeholder{
    color: white;
}
.error{
    text-align: center;
    background: rgb(243, 34, 34);
    padding: 5px;
    color: #fff;
    font-weight: bold;
    font-family: monospace;
    font-size: 15px;
}
.error i{
    padding-right: 3px;
}
.success{
    text-align: center;
    background: green;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    font-family: monospace;
    font-size: 15px;
}
.loading img{
    margin: 20px auto;
    display: block;
}
.success i{
    padding-right: 3px;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus{
    width: 320px;
    border: 2px solid deepskyblue;
    box-shadow: none;
    display: block;
    outline: none;
}
.box button{
    background: none;
    margin: 20px auto;
    display: block;
    text-align: center;
    border: 2px solid #00A6FF;
    transition: 0.50s;
    transition-timing-function: ease-in-out;
    border-radius: 24px;
    width: 200px;
    padding: auto 10px;
    color: white !important;
    font-weight: bold;
}
.box button:hover{
    border: 2px solid #45CE30;
    box-shadow: none;
    display: block;
    outline: none;
    border-radius: 0px;
}